
// White links against a dark background
  .navbar-brand {
    color: #f0f0f0;

    @include hover-focus {
      color: white;
    }
  }

  .navbar-nav .nav-link {
      color: #f0f0f0;

    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: white;
    }


  .navbar-toggler {
    color: #f0f0f0;
    border-color: white;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5);
  }

  .navbar-text {
    color: #f0f0f0;
    a {
      color: #f0f0f0;

      @include hover-focus {
        color: white;
      }
    }
  }
